<h1>Inicio de Sesion</h1>
<form action="/users/login" method="post">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Login">
</form>

<h2>Nuevo Usuario? Registrate aqui!</h2>
<button onclick="location.href='/signup'">Registrate</button>